<h4><a href="https://github.com/AndrewVos/fuckingawesomesongs.com">AndrewVos/fuckingawesomesongs.com</a></h4>

<ul>
<li>Make each song its own file - <a href="https://github.com/AndrewVos/fuckingawesomesongs.com/pull/38">#38</a></li>
</ul>

<h4><a href="https://github.com/brentd/gitploy">brentd/gitploy</a></h4>

<ul>
<li>Support for specifying local/remote branch names - <a href="https://github.com/brentd/gitploy/pull/1">#1</a></li>
<li>Cucumber features - <a href="https://github.com/brentd/gitploy/pull/2">#2</a></li>
</ul>

<h4><a href="https://github.com/cgunther/formtastic-bootstrap">cgunther/formtastic-bootstrap</a></h4>

<ul>
<li>Undo use of 1.9 Hash syntax - <a href="https://github.com/cgunther/formtastic-bootstrap/pull/2">#2</a></li>
</ul>

<h4><a href="https://github.com/cucumber/aruba">cucumber/aruba</a></h4>

<ul>
<li>(Failing feature) - Directory manipulation inside an interactive process - <a href="https://github.com/cucumber/aruba/pull/17">#17</a></li>
<li>a directory/file named &quot;whatever&quot; should (not) exist - <a href="https://github.com/cucumber/aruba/pull/19">#19</a></li>
</ul>

<h4><a href="https://github.com/ernie/meta_search">ernie/meta_search</a></h4>

<ul>
<li>Add an optional &quot;:join&quot; parameter to multiparameter_field - <a href="https://github.com/ernie/meta_search/pull/14">#14</a></li>
</ul>

<h4><a href="https://github.com/gogits/gogs">gogits/gogs</a></h4>

<ul>
<li>Install: Set the default host string based on database type - <a href="https://github.com/gogits/gogs/pull/143">#143</a></li>
</ul>

<h4><a href="https://github.com/meskyanichi/backup">meskyanichi/backup</a></h4>

<ul>
<li>Add a &quot;--quiet&quot; or &quot;-q&quot; option to perform - <a href="https://github.com/meskyanichi/backup/pull/102">#102</a></li>
<li>Prevent utility_path from overriding <code>cp</code> path in Redis - <a href="https://github.com/meskyanichi/backup/pull/141">#141</a></li>
</ul>

<h4><a href="https://github.com/philc/vimium">philc/vimium</a></h4>

<ul>
<li>Increment/Decrement integer in URL using C-a and C-x - <a href="https://github.com/philc/vimium/pull/216">#216</a></li>
</ul>

<h4><a href="https://github.com/sampsyo/beets">sampsyo/beets</a></h4>

<ul>
<li>Add <code>before_item_moved</code> event - <a href="https://github.com/sampsyo/beets/pull/742">#742</a></li>
</ul>

<h4><a href="https://github.com/thoughtbot/shoulda-matchers">thoughtbot/shoulda-matchers</a></h4>

<ul>
<li>Add &quot;is_within&quot; method to EnsureLengthOfMatcher - <a href="https://github.com/thoughtbot/shoulda-matchers/pull/155">#155</a></li>
</ul>

<h4><a href="https://github.com/timrogers/rapgenius">timrogers/rapgenius</a></h4>

<ul>
<li>Spec reorganization and updating - <a href="https://github.com/timrogers/rapgenius/pull/6">#6</a></li>
<li>Song searching - <a href="https://github.com/timrogers/rapgenius/pull/7">#7</a></li>
</ul>
