<h3><a href="https://github.com/AndrewVos/fuckingawesomesongs.com">AndrewVos/fuckingawesomesongs.com</a></h3>

<ul>
<li>Make each song its own file - <a href="https://github.com/AndrewVos/fuckingawesomesongs.com/pull/38">#38</a></li>
<li>Sharon Van Etten - Serpents - <a href="https://github.com/AndrewVos/fuckingawesomesongs.com/pull/52">#52</a></li>
</ul>

<h3><a href="https://github.com/brentd/gitploy">brentd/gitploy</a></h3>

<ul>
<li>Support for specifying local/remote branch names - <a href="https://github.com/brentd/gitploy/pull/1">#1</a></li>
<li>Cucumber features - <a href="https://github.com/brentd/gitploy/pull/2">#2</a></li>
</ul>

<h3><a href="https://github.com/carlhuda/bundler">carlhuda/bundler</a></h3>

<ul>
<li>Force &quot;gem build&quot; to use Verbose mode - <a href="https://github.com/carlhuda/bundler/pull/791">#791</a></li>
</ul>

<h3><a href="https://github.com/cgunther/formtastic-bootstrap">cgunther/formtastic-bootstrap</a></h3>

<ul>
<li>Undo use of 1.9 Hash syntax - <a href="https://github.com/cgunther/formtastic-bootstrap/pull/2">#2</a></li>
</ul>

<h3><a href="https://github.com/chriskempson/Tomorrow-Theme">chriskempson/Tomorrow-Theme</a></h3>

<ul>
<li>Extra line break so pictures line up correctly. - <a href="https://github.com/chriskempson/Tomorrow-Theme/pull/8">#8</a></li>
</ul>

<h3><a href="https://github.com/cucumber/aruba">cucumber/aruba</a></h3>

<ul>
<li>(Failing feature) - Directory manipulation inside an interactive process - <a href="https://github.com/cucumber/aruba/pull/17">#17</a></li>
<li>a directory/file named &quot;whatever&quot; should (not) exist - <a href="https://github.com/cucumber/aruba/pull/19">#19</a></li>
</ul>

<h3><a href="https://github.com/ernie/meta_search">ernie/meta_search</a></h3>

<ul>
<li>Add an optional &quot;:join&quot; parameter to multiparameter_field - <a href="https://github.com/ernie/meta_search/pull/14">#14</a></li>
</ul>

<h3><a href="https://github.com/github/help.github.com">github/help.github.com</a></h3>

<ul>
<li>Minor spelling/grammar/consistency fixes - <a href="https://github.com/github/help.github.com/pull/94">#94</a></li>
<li>Fix link to email account settings - <a href="https://github.com/github/help.github.com/pull/95">#95</a></li>
</ul>

<h3><a href="https://github.com/gitlabhq/gitlabhq">gitlabhq/gitlabhq</a></h3>

<ul>
<li>Consolidate functionality shared between Issue and MergeRequest - <a href="https://github.com/gitlabhq/gitlabhq/pull/1208">#1208</a></li>
<li>Fully embrace Ruby 1.9 hash syntax - <a href="https://github.com/gitlabhq/gitlabhq/pull/1219">#1219</a></li>
<li>Fix invalid syntax in OmniAuth initializer sample - <a href="https://github.com/gitlabhq/gitlabhq/pull/1224">#1224</a></li>
<li>Remove trailing whitespace in rb and haml files - <a href="https://github.com/gitlabhq/gitlabhq/pull/1225">#1225</a></li>
<li>Correct usage of &quot;Can&#39;t&quot; - <a href="https://github.com/gitlabhq/gitlabhq/pull/1230">#1230</a></li>
<li>GFM Refactoring - <a href="https://github.com/gitlabhq/gitlabhq/pull/1232">#1232</a></li>
<li>Allow disabling Gravatars in gitlab.yml settings - <a href="https://github.com/gitlabhq/gitlabhq/pull/1239">#1239</a></li>
<li>Allow filtering issues that have no milestone or assignee - <a href="https://github.com/gitlabhq/gitlabhq/pull/1247">#1247</a></li>
<li>Notify mailer refactor - <a href="https://github.com/gitlabhq/gitlabhq/pull/1260">#1260</a></li>
<li>Account for deleted issues on the event dashboard - <a href="https://github.com/gitlabhq/gitlabhq/pull/1264">#1264</a></li>
<li>Add API for Milestones - <a href="https://github.com/gitlabhq/gitlabhq/pull/1265">#1265</a></li>
<li>Speed up the &quot;Project Network Graph&quot; cucumber feature - <a href="https://github.com/gitlabhq/gitlabhq/pull/1266">#1266</a></li>
<li>Don&#39;t run SimpleCov on Travis - <a href="https://github.com/gitlabhq/gitlabhq/pull/1275">#1275</a></li>
<li>Gemfile cleanup - <a href="https://github.com/gitlabhq/gitlabhq/pull/1285">#1285</a></li>
<li>Spec cleanup/reorganization - <a href="https://github.com/gitlabhq/gitlabhq/pull/1300">#1300</a></li>
<li>FactoryGirl and spec cleanup - <a href="https://github.com/gitlabhq/gitlabhq/pull/1323">#1323</a></li>
<li>Add milestone API docs to doc/README and views/help/api - <a href="https://github.com/gitlabhq/gitlabhq/pull/1329">#1329</a></li>
<li>Increased model spec coverage - <a href="https://github.com/gitlabhq/gitlabhq/pull/1333">#1333</a></li>
<li>Fix milestone API specs - <a href="https://github.com/gitlabhq/gitlabhq/pull/1334">#1334</a></li>
<li>Give Resque route a name and use that for the iframe src - <a href="https://github.com/gitlabhq/gitlabhq/pull/1351">#1351</a></li>
<li>GFM spec redesign - <a href="https://github.com/gitlabhq/gitlabhq/pull/1355">#1355</a></li>
<li>Update User#identifier to conform to Gitolite 2.x&#39;s user pattern - <a href="https://github.com/gitlabhq/gitlabhq/pull/1365">#1365</a></li>
<li>Change @project instance variable to a local in views/help/markdown - <a href="https://github.com/gitlabhq/gitlabhq/pull/1366">#1366</a></li>
<li>Add tmp/.gitkeep file to ensure tmp folder exists on clone - <a href="https://github.com/gitlabhq/gitlabhq/pull/1368">#1368</a></li>
<li>Clean up doc/installation.md - <a href="https://github.com/gitlabhq/gitlabhq/pull/1369">#1369</a></li>
<li>Refactor the project clone panel - <a href="https://github.com/gitlabhq/gitlabhq/pull/1371">#1371</a></li>
<li>Default branch auto-discovery - <a href="https://github.com/gitlabhq/gitlabhq/pull/1375">#1375</a></li>
<li>Emoji! - <a href="https://github.com/gitlabhq/gitlabhq/pull/1384">#1384</a></li>
<li>Use GitHub::Markup to parse markup files - <a href="https://github.com/gitlabhq/gitlabhq/pull/1386">#1386</a></li>
<li>Fix Markdown help page - <a href="https://github.com/gitlabhq/gitlabhq/pull/1397">#1397</a></li>
<li>Convert main.js to CoffeeScript - <a href="https://github.com/gitlabhq/gitlabhq/pull/1412">#1412</a></li>
<li>Reduce the amount of JavaScript written in views - <a href="https://github.com/gitlabhq/gitlabhq/pull/1415">#1415</a></li>
<li>Be more resilient in the case of missing omniauth settings - <a href="https://github.com/gitlabhq/gitlabhq/pull/1451">#1451</a></li>
<li>Fix HTML entities being parsed in GFM - <a href="https://github.com/gitlabhq/gitlabhq/pull/1456">#1456</a></li>
<li>Routing specs and cleanup - <a href="https://github.com/gitlabhq/gitlabhq/pull/1477">#1477</a></li>
<li>Extract ref switcher into a partial - <a href="https://github.com/gitlabhq/gitlabhq/pull/1479">#1479</a></li>
<li>Add initializer for customizing Resque&#39;s Redis connection - <a href="https://github.com/gitlabhq/gitlabhq/pull/1496">#1496</a></li>
<li>Better escaping of text passed into GFM - <a href="https://github.com/gitlabhq/gitlabhq/pull/1512">#1512</a></li>
<li>Consolidate layouts - <a href="https://github.com/gitlabhq/gitlabhq/pull/1516">#1516</a></li>
<li>Consolidate Resque-related initializers - <a href="https://github.com/gitlabhq/gitlabhq/pull/1528">#1528</a></li>
<li>Routing overhaul - <a href="https://github.com/gitlabhq/gitlabhq/pull/1568">#1568</a></li>
<li>Improve performance of Commits#show - <a href="https://github.com/gitlabhq/gitlabhq/pull/1613">#1613</a></li>
<li>Minor performance changes - <a href="https://github.com/gitlabhq/gitlabhq/pull/1626">#1626</a></li>
<li>Tree performance improvements - <a href="https://github.com/gitlabhq/gitlabhq/pull/1627">#1627</a></li>
<li>Allow custom page title and logo - <a href="https://github.com/gitlabhq/gitlabhq/pull/1663">#1663</a></li>
<li>Fix forward/back while browsing Tree hierarchy - <a href="https://github.com/gitlabhq/gitlabhq/pull/1665">#1665</a></li>
<li>Milestone &quot;All Issues&quot; filter - <a href="https://github.com/gitlabhq/gitlabhq/pull/1672">#1672</a></li>
<li>Add quiet_assets gem, remove initializer - <a href="https://github.com/gitlabhq/gitlabhq/pull/1901">#1901</a></li>
<li>Fix breadcrumb links on Commits page - <a href="https://github.com/gitlabhq/gitlabhq/pull/1902">#1902</a></li>
<li>Fix double icon on header button hover - <a href="https://github.com/gitlabhq/gitlabhq/pull/1914">#1914</a></li>
<li>Fix rendered action for password change failure - <a href="https://github.com/gitlabhq/gitlabhq/pull/1915">#1915</a></li>
<li>Improve user feedback on the Profile &gt; Design page - <a href="https://github.com/gitlabhq/gitlabhq/pull/2030">#2030</a></li>
<li>Add a link to each project on the Issues dashboard - <a href="https://github.com/gitlabhq/gitlabhq/pull/2103">#2103</a></li>
</ul>

<h3><a href="https://github.com/guard/guard-rspec">guard/guard-rspec</a></h3>

<ul>
<li>Remove extra whitespace from Guardfile template - <a href="https://github.com/guard/guard-rspec/pull/11">#11</a></li>
<li>Fix TravisCI image link - <a href="https://github.com/guard/guard-rspec/pull/13">#13</a></li>
</ul>

<h3><a href="https://github.com/jc00ke/vim-tomdoc">jc00ke/vim-tomdoc</a></h3>

<ul>
<li>Remove excess whitespace in templates - <a href="https://github.com/jc00ke/vim-tomdoc/pull/2">#2</a></li>
</ul>

<h3><a href="https://github.com/jnunemaker/mongomapper">jnunemaker/mongomapper</a></h3>

<ul>
<li>Fix plugin documentation links - <a href="https://github.com/jnunemaker/mongomapper/pull/361">#361</a></li>
</ul>

<h3><a href="https://github.com/meskyanichi/backup">meskyanichi/backup</a></h3>

<ul>
<li>Add a &quot;--quiet&quot; or &quot;-q&quot; option to perform - <a href="https://github.com/meskyanichi/backup/pull/102">#102</a></li>
<li>Prevent utility_path from overriding <code>cp</code> path in Redis - <a href="https://github.com/meskyanichi/backup/pull/141">#141</a></li>
</ul>

<h3><a href="https://github.com/mjbellantoni/formtastic-bootstrap">mjbellantoni/formtastic-bootstrap</a></h3>

<ul>
<li>Hidden inputs are still visible - <a href="https://github.com/mjbellantoni/formtastic-bootstrap/pull/5">#5</a></li>
</ul>

<h3><a href="https://github.com/mongoid/mongoid-site">mongoid/mongoid-site</a></h3>

<ul>
<li>Small grammar fix - <a href="https://github.com/mongoid/mongoid-site/pull/19">#19</a></li>
</ul>

<h3><a href="https://github.com/philc/vimium">philc/vimium</a></h3>

<ul>
<li>Increment/Decrement integer in URL using C-a and C-x - <a href="https://github.com/philc/vimium/pull/216">#216</a></li>
</ul>

<h3><a href="https://github.com/rspec/rspec-core">rspec/rspec-core</a></h3>

<ul>
<li>Fix indentation warnings; Closes #352 - <a href="https://github.com/rspec/rspec-core/pull/384">#384</a></li>
</ul>

<h3><a href="https://github.com/sinatra/sinatra.github.com">sinatra/sinatra.github.com</a></h3>

<ul>
<li>Minor typo in README - <a href="https://github.com/sinatra/sinatra.github.com/pull/24">#24</a></li>
</ul>

<h3><a href="https://github.com/soveran/ohm">soveran/ohm</a></h3>

<ul>
<li>Update SINTERSTORE and SDIFFSTORE links - <a href="https://github.com/soveran/ohm/pull/25">#25</a></li>
</ul>

<h3><a href="https://github.com/thoughtbot/shoulda-matchers">thoughtbot/shoulda-matchers</a></h3>

<ul>
<li>Add &quot;is_within&quot; method to EnsureLengthOfMatcher - <a href="https://github.com/thoughtbot/shoulda-matchers/pull/155">#155</a></li>
</ul>

<h3><a href="https://github.com/timrogers/rapgenius">timrogers/rapgenius</a></h3>

<ul>
<li>Spec reorganization and updating - <a href="https://github.com/timrogers/rapgenius/pull/6">#6</a></li>
<li>Song searching - <a href="https://github.com/timrogers/rapgenius/pull/7">#7</a></li>
</ul>

<h3><a href="https://github.com/tomas-stefano/infinity_test">tomas-stefano/infinity_test</a></h3>

<ul>
<li>Minor spelling/grammar changes - <a href="https://github.com/tomas-stefano/infinity_test/pull/21">#21</a></li>
</ul>
