<h4><a href="https://github.com/tsigo/video_dimensions">video_dimensions</a></h4>

<p>Quick and easy video attributes -- width, height, bitrate, codec, duration,
framerate.</p>

<p><strong>Tools used:</strong> Ruby, RSpec</p>

<hr>

<h4><a href="https://github.com/tsigo/hubstar">hubstar</a></h4>

<p>HubStar <strike>provides</strike> provided the missing &quot;star&quot; feature for
GitHub repositories.</p>

<p>I was tired of my activity feed being clogged by projects I watched to remember
for later, but wasn&#39;t actively interested in things like their day-to-day
pushes and issue changes.</p>

<p>I had been using the Gitmarks Chrome extension for a while, but the problem was
that it only displayed the name of the project, which can sometimes be pretty
ambiguous, and I had trouble finding what I was looking for when I came back to
find it later. HubStar solves that issue by displaying more information about
the projects that I save.</p>

<p><strong>Tools used:</strong> Ruby 1.9, Rails 3.2, Heroku, PostgreSQL, OmniAuth, GitHub
OAuth, Octokit, CoffeeScript, jQuery, Twitter Bootstrap, RSpec, FactoryGirl,
Shoulda</p>

<hr>

<h4><a href="https://github.com/tsigo/gemphile">gemphile</a></h4>

<p>A Gemfile and gemspec indexer</p>

<p>For some developers, the best way to learn how to use a gem is to see how other
projects use it in the real world. But what if you can&#39;t easily find a project
that uses the gem you&#39;re trying to learn about? Gemphile was created to index
the Gemfiles and gemspecs of Ruby projects on GitHub and then to provide a
simple search interface to find those projects.</p>

<p><strong>Tools used:</strong> Ruby 1.9, Sinatra, MongoDB, Mongoid, Mustache, DelayedJob,
RSpec, FactoryGirl, WebMock, GitHub API v2</p>

<hr>

<h4><a href="https://github.com/tsigo/wriggle">wriggle</a></h4>

<p>A simple Ruby directory crawler DSL</p>

<p><strong>Tools used:</strong> Ruby, RSpec, TravisCI</p>

<hr>

<h4><a href="https://github.com/tsigo/invision_bridge">invision_bridge</a></h4>

<p>Allows your Authlogic-based User model to authenticate using an IP.Board 3.x database.</p>

<p><strong>Tools used:</strong> Ruby, ActiveRecord, Authlogic</p>
